page-home {

  ion-content {
    background-color: $light-gray;
  }

  ion-card-header {
    span {
      color: $light-green !important;
      font-size: 1.5em !important;
    }
    background-color: $dark-gray;
  }

  ion-icon {
    padding-right: 0.2em;
  }

  .no-padding {
    padding: 0;
  }

  .tstat-disconnect-warning {
    color: $danger;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
  }

  .climate-card-warning {
    color: $danger !important;
  }

  .card-btn {
    font-size: 1.4em;
    font-weight: 600;
    color: $light-green;
    background-color: $dark-gray;
    padding-top: 4px !important;
    border-radius: 5px;
  }

  .card-btn:hover {
    color: $dark-gray;
    background-color: $light-green;
  }

  .conditions {
    text-align: center;
    font-size: 2.5em;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }

  .program-card {
    text-align: center;
  }

  .btn {
    color: $dark-gray;
    background-color: $light-green;
    border-radius: 5px;
    border: 3px solid $dark-gray;
  }

  .button-inner {
    height: 70% !important;
  }

}
