<ion-header>
  <ion-navbar>
    <button color="dark" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-title>At A Glance</ion-title>
        <login-name></login-name>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <!-- ion card for garage door button -->
      <!-- <ion-col class="no-padding no-margin" *ngIf="garageDoor">
        <ion-card color="light-gray">
          <ion-card-header>
            <span>Garage Door Controller</span>
          </ion-card-header>
          <ion-card-content padding>
            <button ion-button block large class="btn in-position" (click)="operateGarageDoor()">
              <ion-icon name="car"></ion-icon>
              <span>{{ garageDoor.targetPosition == "OPEN" ? "CLOSE": "OPEN"}}</span>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col> -->

    </ion-row>
    <ion-row>

      <!-- ion card for climate control summary -->
      <ion-col col-12 col-lg-6 class="no-padding card-container">
        <ion-card color="light-gray">
          <ion-card-header>
            <span>Climate Control</span>
          </ion-card-header>
          <ion-card-content class="no-padding no-margin">

            <ion-grid>
              <ion-row>

                <!-- current climate control temperature in zone 0 -->
                <ion-col col-12 col-lg-6 class="no-padding">
                  <ion-card>
                    <ion-card-header>
                      <span>Temperature</span>
                    </ion-card-header>
                    <ion-card-content class="conditions"  *ngIf="isClimateLoaded">
                      {{ climate.zoneData[0].temperature | number:'1.1-1' }}<span [innerHtml]="getTemperatureSymbol()"></span>
                    </ion-card-content>
                    <ion-card-content class="conditions"  *ngIf="!isClimateLoaded">
                      <ion-spinner></ion-spinner>
                    </ion-card-content>
                  </ion-card>
                </ion-col>

                <!-- current climate control humidity in zone 0 -->
                <ion-col col-12 col-lg-6 class="no-padding">
                  <ion-card>
                    <ion-card-header>
                      <span>Humidity</span>
                    </ion-card-header>
                    <ion-card-content class="conditions" *ngIf="isClimateLoaded">
                      {{ climate.zoneData[0].humidity | number:'1.0-0' }}%
                    </ion-card-content>
                    <ion-card-content class="conditions"  *ngIf="!isClimateLoaded">
                      <ion-spinner></ion-spinner>
                    </ion-card-content>
                  </ion-card>
                </ion-col>

              </ion-row>
              <ion-row>

                <!-- selected temperature slider bar, zone agnostic -->
                <ion-col>
                  <ion-label text-center>
                    Selected Temperature {{ desiredTemperature }}
                    <span [innerHtml]="getTemperatureSymbol()"></span>
                  </ion-label>
                  <ion-range
                    (ionBlur)="onSliderChangeEnd()"
                    [(ngModel)]="desiredTemperature"
                    color="light-green"
                    min="{{ minTemperature }}" max="{{ maxTemperature }}" pin>
                    <ion-label range-left>{{ minTemperature}}</ion-label>
                    <ion-label range-right>{{ maxTemperature }}</ion-label>
                  </ion-range>
                </ion-col>

              </ion-row>
              <ion-row justify-content-center>

                <!-- program button with name of selected program if any, click to open program action sheet -->
                <ion-col col-12 col-lg-10>
                  <button ion-button block class="card-btn" (click)="openClimateProgramActionSheet()" [disabled]="!isProgramLoaded">
                    Program: {{ programName }}
                  </button>
                </ion-col>

              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-lg-6 class="no-padding card-container" *ngIf="isSecCamLoaded">
        <ion-card color="light-gray">
          <ion-card-header>
            <span>Security Camera</span>
          </ion-card-header>
          <ion-card-content class="player-container">
            <ion-grid>
              <ion-row>
                <vg-player>
                  <video
                    [src]="videoURL"
                    [vgMedia]="media"
                    #media
                    id="singleVideo"
                    preload="auto"
                    controls>
                  </video>
                </vg-player>
              </ion-row>
              <ion-row class="metadata-container">
                <p>
                  {{ video.location | titlecase }} on {{ video.startDateTime | date: 'medium'}}
                </p>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- loading spinner -->
  <div *ngIf="!isClimateLoaded && !isProgramLoaded && !errMsg">
    <ion-spinner></ion-spinner>
    <h4>Loading...</h4>
  </div>
  <!-- error message -->
  <div *ngIf="errMsg && (errMsg != '401 - Unauthorized')">
    <h2>Oops...</h2>
    <h4>{{ errMsg }}</h4>
  </div>
  <!-- if error is Unauthorized, show button to login -->
  <div *ngIf="errMsg == '401 - Unauthorized'">
    <h4>You must be logged in to view this content</h4>
    <button ion-button color="light-green" (click)="openLoginModal()">
      Log In
    </button>
  </div>

</ion-content>
