<ion-header>
  <ion-navbar>
    <button color="dark" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>At A Glance</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col class="no-padding no-margin" *ngIf="garageDoor">
        <ion-card color="light-gray">
          <ion-card-header>
            <span>Garage Door Controller</span>
          </ion-card-header>
          <ion-card-content padding>
            <button ion-button block large class="btn in-position" (click)="operateGarageDoor()">
              <ion-icon name="car"></ion-icon>
              <span>{{ garageDoor.targetPosition == "OPEN" ? "CLOSE": "OPEN"}}</span>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col col-12 col-lg-6 class="no-padding no-margin" *ngIf="climate && program">
        <ion-card color="light-gray">
          <ion-card-header>
            <span>Climate Control</span>
          </ion-card-header>
          <ion-card-content class="no-padding no-margin">
            <ion-grid>
              <ion-row>

                <ion-col col-12 col-lg-6 class="no-padding">
                  <ion-card>
                    <ion-card-header>
                      <span>Temperature</span>
                    </ion-card-header>
                    <ion-card-content class="conditions">
                      {{ climate.zoneData[0].temperature }}<span [innerHtml]="getTemperatureSymbol()"></span>
                    </ion-card-content>
                  </ion-card>
                </ion-col>

                <ion-col col-12 col-lg-6 class="no-padding">
                  <ion-card>
                    <ion-card-header>
                      <span>Humidity</span>
                    </ion-card-header>
                    <ion-card-content class="conditions">
                      {{ climate.zoneData[0].humidity }}%
                    </ion-card-content>
                  </ion-card>
                </ion-col>

              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-label text-center>
                    Selected Temperature {{ desiredTemperature }}
                    <span [innerHtml]="getTemperatureSymbol()"></span>
                  </ion-label>
                  <ion-range
                    (ionBlur)="onSliderChangeEnd()"
                    [(ngModel)]="desiredTemperature"
                    color="light-green"
                    min="{{ minTemperature }}" max="{{ maxTemperature }}" pin>
                    <ion-label range-left>{{ minTemperature}}</ion-label>
                    <ion-label range-right>{{ maxTemperature }}</ion-label>
                  </ion-range>
                </ion-col>

              </ion-row>
              <ion-row justify-content-center>
                <ion-col col-12 col-lg-10>
                  <button ion-button block class="card-btn" (click)="openClimateProgramActionSheet()">
                    Program: {{ program }}
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!climate && !program && !errMsg">
    <ion-spinner></ion-spinner>
    <h4>Loading...</h4>
  </div>
  <div *ngIf="errMsg">
    <h2>Error</h2>
    <h4>{{ errMsg }}</h4>
  </div>
  <div *ngIf="errMsg == '401 - Unauthorized'">
    <h4>You must be logged in to view this content</h4>
    <button ion-button color="light-green" (click)="openLoginModal()">
      Log In
    </button>
  </div>
</ion-content>
