<ion-header>

  <ion-navbar>
    <button color="dark" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-title>Security Camera</ion-title>
        <login-name></login-name>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content background-color="light">
  <ion-grid>

    <ion-row>
      <vg-player>
          <video
            [src]="videoURL"
            [vgMedia]="media"
            #media
            id="singleVideo"
            preload="auto"
            controls>
          </video>
      </vg-player>
    </ion-row>

    <ion-row justify-content-between>
      <ion-col col-4>
        <button ion-button (click)="toggleRecording()" [(ngClass)]="classRecording">{{ recordDisplay }}</button>
      </ion-col>
      <ion-col col-8>
        <ion-item id="processing" *ngIf="recordingProcessing">Preparing recording for viewing</ion-item>
      </ion-col>
    </ion-row>

    <ion-row justify-content-between>
      <ion-item>
        <ion-label>Select video</ion-label>
        <ion-select [(ngModel)]="videoNameList">
          <ion-option
            [value]="videoNameList"
            *ngFor="let filename of videoNameList; index as i"
            (ionSelect)="selectVideo($event[i])">
            {{ locationName }} - {{ filename * 1000 | date:'short'}}
          </ion-option>
        </ion-select>
      </ion-item>
      <!-- <ion-list radio-group>
        <ion-list-header>
          Available security camera videos
        </ion-list-header>
        <ion-item *ngFor="let filename of videoNameList; index as i">
          <ion-label>Front door - {{ filename * 1000 | date:'short' }}</ion-label>
          <ion-radio [checked]="i == 0" value="{{ filename }}" (ionSelect)="selectVideo($event)"></ion-radio>
        </ion-item>
      </ion-list> -->
    </ion-row>

  </ion-grid>
</ion-content>
