page-climatecontrol {

  h3 {
    font-weight: bold;
  }

  ion-card-header {
    span {
      color: $light-green;
      font-size: 1.5em;
      font-weight: 600;
    }
    button {
      color: $light-green !important;
      background-color: $dark-gray !important;
      font-size: 1.5em !important;
      padding: 0px;
    }
    background-color: $dark-gray;
  }

  ion-col {
    height: 100%;
    padding: 0 !important;
  }

  .zone-name-edit-button {
    font-size: 0.8em;
  }

  .top-level-card {
    height: 430px;
  }

  .data {
    padding: 12px;
    font-size: 1.2em !important;
  }

  .inner-card {
    font-size: 1em !important;
  }

  .card-btn {
    font-size: 1.4em;
    font-weight: 600;
    color: $light-green;
    background-color: $dark-gray;
    padding-top: 4px !important;
    border-radius: 5px;
  }

  .card-btn:hover {
    color: $dark-gray;
    background-color: $light-green;
  }

  .conditions {
    text-align: center;
    font-size: 2.5em;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }

  .program-card {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
  }

  .no-margin-bottom {
    margin-bottom: 0px !important;
  }

  .only-bottom-padding {
    padding: 0 0 20px 0 !important;
  }

  .swiper-pagination-bullet-active {
    background: $light-green;
    margin-bottom: 10px;
  }

  .adjust-down {
    margin-bottom: 1.5% !important;
  }

  .align-right {
    text-align: right;
  }

  .status-value {
    font-size: 1.4em;
    font-weight: 600;
    color: $dark-gray;
  }

}
