<ion-header>

  <ion-navbar>
    <button color="dark" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-title>Climate Control</ion-title>
        <login-name></login-name>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>

<ion-content background-color="light">
  <ion-grid>
    <ion-row>

      <!-- card slides for each monitored climate zone -->
      <ion-col col-12 col-lg-6>
        <ion-slides pager #climateSlide *ngIf="climate">
          <ion-slide *ngFor="let zone of zones; index as i">
            <ion-card color="light-gray" class="top-level-card">

              <!-- card header with zone location name -->
              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col col-2>
                      <button (click)="slideToLeft(i)"><ion-icon name="arrow-dropleft-circle"></ion-icon></button>
                    </ion-col>
                    <ion-col>
                      <span>{{ zone.locationName | titlecase }}</span>
                    </ion-col>
                    <ion-col col-2>
                      <button (click)="slideToRight(i)"><ion-icon name="arrow-dropright-circle"></ion-icon></button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
              <ion-card-content class="no-padding">
                <ion-grid>
                  <ion-row>

                    <!-- ion card with zone temperature -->
                    <ion-col col-12 col-lg-6 class="no-padding">
                      <ion-card>
                        <ion-card-header>
                          <span class="inner-card">Temperature</span>
                        </ion-card-header>
                        <ion-card-content class="conditions">
                          {{ zone.temperature | number:'1.1-1' }}<span [innerHtml]="getTemperatureSymbol()"></span>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>

                    <!-- ion card with zone humidity -->
                    <ion-col col-12 col-lg-6 class="no-padding">
                      <ion-card>
                        <ion-card-header>
                          <span class="inner-card">Humidity</span>
                        </ion-card-header>
                        <ion-card-content class="conditions">
                          {{ zone.humidity | number:'1.0-0' }}%
                        </ion-card-content>
                      </ion-card>
                    </ion-col>

                  </ion-row>
                  <ion-row>

                    <!-- ion slider for set temperature -->
                    <ion-col class="adjust-down">
                      <ion-label text-center>
                        Selected Temperature {{ targetTemperature }}
                        <span [innerHtml]="getTemperatureSymbol()"></span>
                      </ion-label>
                      <ion-range
                        class="adjust-down"
                        (ionBlur)="onSliderChangeEnd()"
                        [(ngModel)]="targetTemperature"
                        color="light-green"
                        min="{{ minTemperature }}" max="{{ maxTemperature }}" pin>
                        <ion-label range-left>{{ minTemperature}}</ion-label>
                        <ion-label range-right>{{ maxTemperature }}</ion-label>
                      </ion-range>
                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>

      </ion-col>
      <!-- ion card with climate operating conditions -->
      <ion-col col-12 col-lg-6>
        <ion-card *ngIf="climate && programs" color="light-gray" class="top-level-card">
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <span>Operating Status</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-card-content class="no-padding no-margin">
            <ion-grid>
              <ion-row justify-content-between class="data">

                <!-- climate set temperature -->

                <ion-col col-6>
                  Set Temperature:<br>
                  <div class="status-value">
                    {{ targetTemperature }}
                    <span [innerHtml]="getTemperatureSymbol()"></span>
                  </div>
                </ion-col>

                <!-- climate program operating status -->

                <ion-col col-6 class="align-right">
                  Program Status:<br>
                  <div class="status-value">
                    {{ selectedProgram.isActive ? 'RUNNING': 'INACTIVE' }}
                  </div>
                </ion-col>

                <!-- climate thermostat operating status -->

                <ion-col col-6>
                  Home System:<br>
                  <div class="status-value">
                    {{ climate.operatingStatus | uppercase }}
                  </div>
                </ion-col>

                <!-- climate zone name being monitored -->
                <ion-col col-6 class="align-right">
                  Monitoring Zone:<br>
                  <div *ngIf="zones[selectedZone]" class="status-value">
                    {{ zones[selectedZone].locationName | uppercase }}
                  </div>
                </ion-col>
              </ion-row>

              <!-- thermostat operating mode button with current mode displayed -->

              <ion-row justify-content-center>
                <ion-col col-12 col-lg-10>
                  <button ion-button block class="card-btn" (click)="openModeActionSheet()">
                    Operation Mode: {{ climate.selectedMode }}
                  </button>
                </ion-col>
              </ion-row>

              <!-- thermostat pre-program selected to run -->

              <ion-row justify-content-center>
                <ion-col col-12 col-lg-10>
                  <button ion-button block class="card-btn" (click)="openClimateProgramActionSheet()">
                    Program: {{ selectedProgram.name }}
                  </button>
                </ion-col>
              </ion-row>
              <ion-row>

                <!-- ion slider for set temperature -->

                <ion-col>
                  <ion-label text-center>
                    Selected Temperature {{ targetTemperature }}
                    <span [innerHtml]="getTemperatureSymbol()"></span>
                  </ion-label>
                  <ion-range
                    (ionBlur)="onSliderChangeEnd()"
                    [(ngModel)]="targetTemperature"
                    color="light-green"
                    min="{{ minTemperature }}" max="{{ maxTemperature }}" pin>
                    <ion-label range-left>{{ minTemperature}}</ion-label>
                    <ion-label range-right>{{ maxTemperature }}</ion-label>
                  </ion-range>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- loading spinner -->

  <div *ngIf="!climate && !errMsg">
    <ion-spinner></ion-spinner>
    <h4>Loading...</h4>
  </div>

  <!-- error message -->

  <div *ngIf="errMsg">
    <h2>Oops...</h2>
    <h4>{{ errMsg }}</h4>
  </div>

  <!-- if error is Unauthorized, show button to login -->

  <div *ngIf="errMsg == '401 - Unauthorized'">
    <h4>You must be logged in to view this content</h4>
    <button ion-button color="light-green" (click)="openLoginModal()">
      Log In
    </button>
  </div>

</ion-content>
