page-climatecontrol {

  h3 {
    font-weight: bold;
  }

  ion-card-header {
    span {
      color: $light-green !important;
      font-size: 1.5em !important;
    }
    button {
      color: $light-green !important;
      background-color: $dark-gray !important;
      font-size: 1.5em !important;
      padding: 0px;
    }
    background-color: $dark-gray;
  }

  ion-col {
    height: 100%;
    padding: 0 !important;
  }

  .inner-card {
    font-size: 1em !important;
  }

  .card-btn {
    cursor: pointer;
  }

  .mode-btn {
    color: $light-green;
    background-color: $dark-gray;
    padding-top: 3px !important;
    border-radius: 5px;
  }

  .conditions {
    text-align: center;
    font-size: 2.5em;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }

  .program-card {
    text-align: center;
  }

  .no-margin-bottom {
    margin-bottom: 0px !important;
  }

  .only-bottom-padding {
    padding: 0 0 20px 0 !important;
  }

  .swiper-pagination-bullet-active {
    background: $light-green;
    margin-bottom: 10px;
  }

  .adjust-down {
    margin-bottom: 1.5% !important;
  }

}
