// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  dark-gray: #576366,
  light-green: #6edd73,
  light-gray: #ddd,
  warning: #ffc107,
  pale-green: #edffea,
  pale-blue: #80a5e5
);

$background-color: #edffea;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$card-ios-background-color: #ddd;
$toggle-ios-track-background-color-off: #999797;
$toggle-ios-handle-background-color-off: #576366;
$alert-ios-button-text-color: #6edd73;
$alert-ios-background-color: #576366;
$spilt-pane-ios-side-min-width: 200px;
$split-pane-ios-side-max-width: 250px;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$card-md-background-color: #ddd;
$toggle-md-track-background-color-off: #999797;
$toggle-md-handle-background-color-off: #576366;
$alert-md-button-text-color: #6edd73;
$alert-md-background-color: #576366;
$split-pane-md-side-min-width: 200px;
$split-pane-md-side-max-width: 250px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$card-wp-background-color: #ddd;
$toggle-wp-track-background-color-off: #999797;
$toggle-wp-handle-background-color-off: #576366;
$alert-wp-button-text-color: #6edd73;
$alert-wp-background-color: #576366;
$split-pane-md-side-min-width: 200px;
$split-pane-wp-side-max-width: 250px;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
