
<ion-header>

  <ion-navbar>
    <ion-title>Recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button (click)="navigateToCreateRecipe($event)">
          New Recipe
        </button>
        <button ion-button (click)="openFilterRecipePopover()">
          Filter
        </button>
        <button ion-button (click)="openSortRecipePopover()">
          Sort
        </button>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-card>
        <ion-card-header>
          Recipes
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngIf="recipes">
            <ion-item-sliding *ngFor="let recipe of recipes" (click)="expandRecipe(recipe)">

              <ion-item>
                <h2><strong>{{ recipe.name }}</strong> - {{ recipe.style }}</h2>

                <ion-card *ngIf="recipe.isExpanded">
                  <ion-card-header>
                    Grain Bill
                  </ion-card-header>
                  <ion-card-content>

                  </ion-card-content>
                </ion-card>

                <!-- <ion-list *ngIf="recipe.isExpanded" ion-content>
                  <ion-item>
                    ABV: {{ recipe.abv }}%, IBU: {{ recipe.ibu }}, SRM: {{ recipe.srm }}
                  </ion-item>
                  <ion-item>
                    Batch Volume: {{ recipe.batchVolume }} gallons :: Boil Time: {{ recipe.boilTime }} minutes
                  <ion-list>
                    <ion-list-header>
                      Grain Bill
                    </ion-list-header>
                    <ion-item *ngFor="let malt of recipe.malts" [tooltip]="malt.description">
                      <strong>{{ malt.name }}</strong> - {{ malt.quantity }} lbs - {{ malt.lovibond }} - O.G. {{ malt.gravity }}
                    </ion-item>
                  </ion-list>
                  <ion-list>
                    <ion-list-header>
                      Hops Schedule
                    </ion-list-header>
                    <ion-item *ngFor="let addition of recipe.hops" [tooltip]="addition.hopsType.description">
                      Add {{ addition.quantity }} oz. of {{ addition.hopsType.name }} at {{ addition.addAt }} minutes
                    </ion-item>
                  </ion-list>
                  <ion-list [tooltip]="recipe.yeast.description">
                    <ion-list-header>
                      Yeast
                    </ion-list-header>
                    <ion-item>
                      {{ recipe.yeast.name }} <<{{ recipe.yeast.type }}>> {{ recipe.yeast.quantity }}g
                      <span *ngIf="recipe.yeast.isStarterNeeded"><strong>STARTER REQUIRED</strong></span>
                    </ion-item>
                    <ion-item>
                      Attenuation {{ recipe.yeast.attenuation }}
                    </ion-item>
                    <ion-item>
                      Flocculation {{ recipe.yeast.flocculation }}
                    </ion-item>
                  </ion-list>
                  <ion-list>
                    <ion-list-header>
                      Notes
                    </ion-list-header>
                    <ion-item>
                      <p>{{ recipe.notes }}</p>
                    </ion-item>
                  </ion-list>
                </ion-list> -->
              </ion-item>

              <ion-item-options>
                <button ion-button color="primary" icon-start>
                  Use
                </button>
                <button ion-button color="secondary" icon-start>
                  Edit
                </button>
                <button ion-button color="danger" ion-start>
                  Delete
                </button>
              </ion-item-options>

            </ion-item-sliding>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </ion-row>
  </ion-grid>
</ion-content>
