// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



$primary: color($colors, primary, base);
$secondary: color($colors, secondary, base);
$danger: color($colors, danger, base);
$warning: color($colors, warning, base);
$light: color($colors, light, base);
$dark: color($colors, dark, base);
$pale-blue: color($colors, pale-blue, base);
$dark-gray: color($colors, dark-gray, base);
$medium-gray: color($colors, medium-gray, base);
$light-gray: color($colors, light-gray, base);
$light-green: color($colors, light-green, base);
$pale-green: color($colors, pale-green, base);

body {
  background-color: $light-gray;
}

ion-list-header {
  margin-bottom: 0px !important;
}

ion-list {
  margin-bottom: 0px !important;
}

ion-label {
  font-size: 1.2em;
}

ion-card-header {
  text-align: center;
}

ion-datetime {
  color: $dark-gray;
  font-weight: 500;
}

ion-select {
  font-size: 1.3em;
  font-weight: 500;
  color: $dark-gray;
}

.toolbar-background {
  background-color: $dark-gray !important;
}

.toolbar-title {
  color: $light-green !important;
}

.scroll-content {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

.scroll {
  height: 100%;
}

.light-green {
  color: $light-green;
}

.dark-gray {
  color: $dark-gray
}

.background-light-green {
  background-color: $light-green;
}

.background-dark-gray {
  background-color: $dark-gray;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}
