<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="dark-gray">
        <ion-title>
          <span class="light-green" textwrap>Select a System</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="background-dark-gray">
      <ion-list>
        <button color="light-green" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon color="dark-gray" [name]="p.icon" item-left></ion-icon>
          <span class="dark-gray">{{p.title}}</span>
        </button>
        <button *ngIf="!loggedIn" color="light-green" menuClose ion-item (click)="openLogin()">
          <ion-icon color="dark-gray" name="log-in" item-left></ion-icon>
          <span class="dark-gray">Log In</span>
        </button>
        <button *ngIf="loggedIn" color="light-green" menuClose ion-item (click)="logOut()">
          <ion-icon color="dark-gray" name="log-in" item-left></ion-icon>
          <span class="dark-gray">Log Out</span>
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav main [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
