page-video-query-form {
  .input-labels {
    color: black !important;
  }

  .submit-button {
    color: $light-green !important;
    background-color: $dark-gray !important;
    font-size: 1.5em !important;
    padding: 0 5px;
  }
}
