<ion-header>

  <ion-toolbar color="dark-gray">
    <ion-buttons start>
      <button color="pale-blue" *ngIf="providedSchedule" ion-button (click)="toggleDisplaySchedule()">
        <ion-label>Schedule Available</ion-label>
      </button>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close-circle" color="light-green"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Set Schedule for Program</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <!-- Selection View -->

  <div *ngIf="!viewReview">
    <ion-item>
      <ion-label>Select Day(s)</ion-label>
      <ion-select [(ngModel)]="days" multiple="true">
        <ion-option value=0>Monday</ion-option>
        <ion-option value=1>Tuesday</ion-option>
        <ion-option value=2>Wednesday</ion-option>
        <ion-option value=3>Thursday</ion-option>
        <ion-option value=4>Friday</ion-option>
        <ion-option value=5>Saturday</ion-option>
        <ion-option value=6>Sunday</ion-option>
      </ion-select>
    </ion-item>

    <ion-grid>

      <ion-label>Time Section One</ion-label>

      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
              HOUR
            </ion-label>
            <ion-select [(ngModel)]="hour[0]">
              <ion-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
              MINUTE
            </ion-label>
            <ion-select [(ngModel)]="minute[0]">
              <ion-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="thermometer"></ion-icon>
              TEMPERATURE
            </ion-label>
            <ion-select [(ngModel)]="temp[0]">
              <ion-option *ngFor="let temp of temps" [value]="temp">{{ temp }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="map"></ion-icon>
              ZONE
            </ion-label>
            <ion-select [(ngModel)]="zone[0]">
              <ion-option *ngFor="let zone of zones" [value]="zone">{{ zone }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-label>Time Section Two</ion-label>

      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
              HOUR
            </ion-label>
            <ion-select [(ngModel)]="hour[1]">
              <ion-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
              MINUTE
            </ion-label>
            <ion-select [(ngModel)]="minute[1]">
              <ion-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="thermometer"></ion-icon>
              TEMPERATURE
            </ion-label>
            <ion-select [(ngModel)]="temp[1]">
              <ion-option *ngFor="let temp of temps" [value]="temp">{{ temp }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="map"></ion-icon>
              ZONE
            </ion-label>
            <ion-select [(ngModel)]="zone[1]">
              <ion-option *ngFor="let zone of zones" [value]="zone">{{ zone }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-label>Time Section Three</ion-label>

      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
              HOUR
            </ion-label>
            <ion-select [(ngModel)]="hour[2]">
              <ion-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
              MINUTE
            </ion-label>
            <ion-select [(ngModel)]="minute[2]">
              <ion-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="thermometer"></ion-icon>
              TEMPERATURE
            </ion-label>
            <ion-select [(ngModel)]="temp[2]">
              <ion-option *ngFor="let temp of temps" [value]="temp">{{ temp }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="map"></ion-icon>
              ZONE
            </ion-label>
            <ion-select [(ngModel)]="zone[2]">
              <ion-option *ngFor="let zone of zones" [value]="zone">{{ zone }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-label>Time Section Four</ion-label>

      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
              HOUR
            </ion-label>
            <ion-select [(ngModel)]="hour[3]">
              <ion-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
              MINUTE
            </ion-label>
            <ion-select [(ngModel)]="minute[3]">
              <ion-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="thermometer"></ion-icon>
              TEMPERATURE
            </ion-label>
            <ion-select [(ngModel)]="temp[3]">
              <ion-option *ngFor="let temp of temps" [value]="temp">{{ temp }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-6>
          <ion-item>
            <ion-label>
              <ion-icon name="map"></ion-icon>
              ZONE
            </ion-label>
            <ion-select [(ngModel)]="zone[3]">
              <ion-option *ngFor="let zone of zones" [value]="zone">{{ zone }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngIf="daysError">
      <p class="invalid">At least one day must be selected</p>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item (click)="pushScheduleValues()">
            <ion-icon name="clipboard"></ion-icon>
            Add Values
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item (click)="toggleDisplaySchedule()">
            <ion-icon name="calendar"></ion-icon>
            View Current Schedule
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Review View -->

  <div *ngIf="viewReview">
    <ion-grid>
      <ion-row *ngFor="let day of stringDays; index as i" class="review-day">
        <ion-col col-12 align-self-center>
          <ion-label class="review-label">{{ day }}</ion-label>
        </ion-col>
        <ion-col>
          <ion-row *ngFor="let _ of hour; index as j" class="review">
            <ion-col col-12 col-lg *ngIf="this.schedule[i * 16 + j * 4] != -1">
              <ion-label>HOUR:</ion-label> {{ this.schedule[i * 16 + j * 4] }}
            </ion-col>
            <ion-col col-12 col-lg *ngIf="this.schedule[i * 16 + j * 4 + 1] != -1">
              <ion-label>MINUTE:</ion-label> {{ this.schedule[i * 16 + j * 4 + 1] }}
            </ion-col>
            <ion-col col-12 col-lg *ngIf="this.schedule[i * 16 + j * 4 + 2] != -1">
              <ion-label>TEMPERATURE:</ion-label> {{ this.schedule[i * 16 + j * 4 + 2] }}
            </ion-col>
            <ion-col col-12 col-lg *ngIf="this.schedule[i * 16 + j * 4 + 3] != -1">
              <ion-label>ZONE:</ion-label> {{ this.schedule[i * 16 + j * 4 + 3] }}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button item-right color="dark-gray" class="btn-text-green" (click)="toggleDisplaySchedule()">
            <ion-icon name="build"></ion-icon> Adjust
          </button>
        </ion-col>
        <ion-col>
          <button *ngIf="isScheduleValid()" ion-button color="dark-gray" class="btn-text-green" (click)="onSubmit()">
            <ion-icon name="thumbs-up"></ion-icon> Accept
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
