<ion-header>

  <ion-toolbar color="dark-gray">
    <ion-buttons start>
      <button color="pale-blue" *ngIf="providedSchedule" ion-button (click)="toggleDisplaySchedule()">
        <ion-label>Schedule Available</ion-label>
      </button>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close-circle" color="light-green"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Set Schedule for Program</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <!-- Selection View -->

  <div *ngIf="!viewReview">
    <ion-item *ngIf="!modify">
      <ion-label>Select Day(s) to Apply</ion-label>
      <ion-select [(ngModel)]="days" multiple="true">
        <ion-option value=0>Monday</ion-option>
        <ion-option value=1>Tuesday</ion-option>
        <ion-option value=2>Wednesday</ion-option>
        <ion-option value=3>Thursday</ion-option>
        <ion-option value=4>Friday</ion-option>
        <ion-option value=5>Saturday</ion-option>
        <ion-option value=6>Sunday</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="modify">
      <ion-label>Selected Day to Modify</ion-label>
      <ion-select [(ngModel)]="dayToModify" interface="popover">
        <ion-option value=0>Monday</ion-option>
        <ion-option value=1>Tuesday</ion-option>
        <ion-option value=2>Wednesday</ion-option>
        <ion-option value=3>Thursday</ion-option>
        <ion-option value=4>Friday</ion-option>
        <ion-option value=5>Saturday</ion-option>
        <ion-option value=6>Sunday</ion-option>
      </ion-select>
    </ion-item>

    <ion-grid>

      <ion-label>Time Section One</ion-label>

      <ion-row>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
                TIME
              </ion-label>
            <ion-datetime displayFormat="hh:mm A" pickerFormat="hh mm A" [(ngModel)]="time[0]"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="thermometer"></ion-icon>
              TEMPERATURE
            </ion-label>
            <ion-select [(ngModel)]="temp[0]">
              <ion-option *ngFor="let temp of temps" [value]="temp">{{ temp }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="map"></ion-icon>
              ZONE
            </ion-label>
            <ion-select *ngIf="climate" [(ngModel)]="zone[0]">
              <ion-option *ngFor="let zone of zones" [value]="zone">{{ zone }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-label>Time Section Two</ion-label>

      <ion-row>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
                TIME
              </ion-label>
            <ion-datetime displayFormat="hh:mm A" pickerFormat="hh mm A" [(ngModel)]="time[1]"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="thermometer"></ion-icon>
              TEMPERATURE
            </ion-label>
            <ion-select [(ngModel)]="temp[1]">
              <ion-option *ngFor="let temp of temps" [value]="temp">{{ temp }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="map"></ion-icon>
              ZONE
            </ion-label>
            <ion-select *ngIf="climate" [(ngModel)]="zone[1]">
              <ion-option *ngFor="let zone of zones" [value]="zone">{{ zone }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-label>Time Section Three</ion-label>

      <ion-row>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
                TIME
              </ion-label>
            <ion-datetime displayFormat="hh:mm A" pickerFormat="hh mm A" [(ngModel)]="time[2]"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="thermometer"></ion-icon>
              TEMPERATURE
            </ion-label>
            <ion-select [(ngModel)]="temp[2]">
              <ion-option *ngFor="let temp of temps" [value]="temp">{{ temp }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="map"></ion-icon>
              ZONE
            </ion-label>
            <ion-select *ngIf="climate" [(ngModel)]="zone[2]">
              <ion-option *ngFor="let zone of zones" [value]="zone">{{ zone }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-label>Time Section Four</ion-label>

      <ion-row>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="clock"></ion-icon>
                TIME
              </ion-label>
            <ion-datetime displayFormat="hh:mm A" pickerFormat="hh mm A" [(ngModel)]="time[3]"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="thermometer"></ion-icon>
              TEMPERATURE
            </ion-label>
            <ion-select [(ngModel)]="temp[3]">
              <ion-option *ngFor="let temp of temps" [value]="temp">{{ temp }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-lg-4>
          <ion-item>
            <ion-label>
              <ion-icon name="map"></ion-icon>
              ZONE
            </ion-label>
            <ion-select *ngIf="climate" [(ngModel)]="zone[3]">
              <ion-option *ngFor="let zone of zones" [value]="zone">{{ zone }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item *ngIf="daysError">
      <p class="invalid">At least one day must be selected</p>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col *ngIf="modify">
          <ion-item (click)="updateOneDay()">
            <ion-icon name="git-commit"></ion-icon>
            Update Day
          </ion-item>
        </ion-col>
        <ion-col *ngIf="!modify">
          <ion-item (click)="pushScheduleValues()">
            <ion-icon name="clipboard"></ion-icon>
            Save Values to Schedule
          </ion-item>
        </ion-col>
        <ion-col *ngIf="!modify">
          <ion-item (click)="toggleDisplaySchedule()">
            <ion-icon name="calendar"></ion-icon>
            View Current Schedule
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Review View -->

  <div *ngIf="viewReview">
    <ion-grid>
      <ion-row *ngFor="let day of stringDays; index as i" class="review-day">
        <ion-col col-12>
          <ion-item [ngClass]="(schedule[i * 16] > -1) ? 'review-label complete': 'review-label day-pending'">
            {{ day }}
            <button item-end class="adjust-btn" (click)="modifyOneDay(i)">EDIT<ion-icon name="git-branch"></ion-icon></button>
          </ion-item>
        </ion-col>
        <ion-col col-12 align-self-center>
          <p *ngIf="schedule[i * 16] == -1" id="day-pending-warning" class="day-pending no-padding">{{ day }} must be submitted to complete the schedule</p>
        </ion-col>
        <ion-col class="no-padding">
          <ion-row *ngFor="let _ of time; index as j" class="review no-padding">
            <ion-col col-12 col-md *ngIf="getSchedulePointByIndex(i, j, 0) != -1 && getSchedulePointByIndex(i, j, 1) != -1">
              <ion-label>TIME:</ion-label>{{ convertTime(i, j) | date:'h:mm a' }}
            </ion-col>
            <ion-col col-12 col-md *ngIf="getSchedulePointByIndex(i, j, 2) != -1">
              <ion-label>TEMPERATURE:</ion-label>{{ getSchedulePointByIndex(i, j, 2) }}
            </ion-col>
            <ion-col col-12 col-md *ngIf="getSchedulePointByIndex(i, j, 3) != -1">
              <ion-label>ZONE:</ion-label>{{ getZoneName(getSchedulePointByIndex(i, j, 3)) }}
            </ion-col>
            <ion-col *ngIf="schedule[i * 16] != -1" col-12>
              <span>-------------------------------------</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <button *ngIf="!isScheduleValid()" ion-button item-right color="dark-gray" class="btn-text-green" (click)="toggleDisplaySchedule()">
          <ion-icon name="build"></ion-icon> Add Day(s)
        </button>
        <button *ngIf="isScheduleValid()" ion-button color="dark-gray" class="btn-text-green" (click)="onSubmit()">
          <ion-icon name="thumbs-up"></ion-icon> Accept
        </button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
