<ion-header>

  <ion-toolbar color="dark-gray">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close-circle" color="light-green"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Select a Program to Update</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding class="modal-background-dark-gray">
  <ion-list *ngIf="programs && !selectedProgram">
    <button ion-item *ngFor="let program of programs; index as i" (click)="updateProgram(i)" color="light-gray">
      <ion-icon *ngIf="!program.isActive" name="code"></ion-icon>
      <ion-icon *ngIf="program.isActive" name="code-working"></ion-icon>
      {{ program.name | uppercase }}
    </button>
  </ion-list>

  <form *ngIf="programs && selectedProgram" [formGroup]="programUpdateForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating>{{ selectedProgram.name }}</ion-label>
      <ion-input type="text" formControlName="name" [value]="selectedProgram.name"></ion-input>
    </ion-item>
    <ion-item *ngIf="name.hasError('minlength') && name.touched">
      <p class="invalid">Program name must be at least two characters long</p>
    </ion-item>
    <ion-item *ngIf="name.hasError('maxlength') && name.touched">
      <p class="invalid">Program name must be at most ten characters long</p>
    </ion-item>
    <ion-item *ngIf="name.hasError('required') && name.touched">
      <p class="invalid">Program name is required</p>
    </ion-item>
    <ion-item>
      <ion-label>Select Mode</ion-label>
      <ion-select formControlName="mode" interface="popover">
        <ion-option value="HEAT">HEAT</ion-option>
        <ion-option value="COOL">COOL</ion-option>
        <ion-option value="FAN">FAN</ion-option>
      </ion-select>
    </ion-item>
    <ion-item (click)="openUpdateScheduleModal()">
      <ion-icon name="calendar"></ion-icon>
      Open Program Scheduler
    </ion-item>
    <ion-item>
      <ion-label>Activate Program Upon Completion</ion-label>
      <ion-toggle color="secondary" formControlName="isActive"></ion-toggle>
    </ion-item>
    <button ion-button color="light-green" type="submit" [disabled]="!programUpdateForm.valid">Submit</button>
    <button ion-button color="dark-gray" type="button" (click)="dismiss()">Cancel</button>
  </form>
</ion-content>
